#content{
    width: 60%;
    margin: 0 auto;
    padding: 20px;
    border: 5px solid #000;
    border-radius: 5px;
    background: bisque;
}

header{
    background: #222;
    color: #fff;
    font-size: 20px;
    width: 100%;
    height: 50px;
    margin: -10px -10px 10px -10px;
    padding: 10px 20px;
}

#github{
    float: left;
    margin-top: 10px;
    margin-left: 20px;
}

#github a{
    color: #ffffff;
    text-decoration: none;
}

#github a:hover{
    font-size: 1.1em;
    text-decoration: underline;
}

#student-name{
    float: right;
    margin-right: 20px;
}

.axis-text{
    font-family: "Harlow Solid Italic", Serif,serif;
    font-size: 16px;
}

.graphics{
    margin: 10px;
    flex: 1;
}

.r-value-button{
    display: inline-block;
    background-image: linear-gradient(to right, #9EEFE1 0%, #4830F0 50%, #9EEFE1 100%);
    background-size: 200% auto;
    transition: .5s;
    padding: 5px;
    width: 50px;
    margin: 5px 10px;
}

.r-value-button:hover{
    box-shadow: 0 0 10px 7px red;
    background-position: right center;
}

.r-value-selected-button{
    background: hotpink;
    border: 2px solid green;
    border-radius: 4px;
    padding: 5px;
    width: 50px;
    margin: 5px 10px;
    color: white;
    box-shadow: 0 0 10px 7px red;
}

.element-of-form{
    margin: 10px;
}

.control-button{
    background: #00008b;
    color: white;
    padding: 10px;
    font-size: 15px;
    border: 3px solid cadetblue;
    border-radius: 3px;
    width: 100px;
    transition: .5s;
}

.control-button:hover{
    box-shadow: 0 0 8px 8px red;
    background-color: rgba(0, 0, 139, 0.7);
}

.data-form{
    text-align: center;
    flex: 1;
}

.radio-row{
    width: 220px;
    margin: 0 auto;
    display: flex;
    text-align: center;
    justify-content: space-around;
}

.radio{
    margin: 3px;
}

.inner-label{
    width: 10px;
    display: inline-block;
}

.buttons-line{
    display: flex;
    justify-content: center;
}

#y-value{
    border: 4px solid blue;
    border-radius: 4px;
    padding: 4px;
    text-align: center;
    font-size: 1.05em;
    width: 180px;
}

#error-log{
    background: rgba(255, 0, 0, 0.8);
    color: white;
    font-size: 18px;
    width: 60%;
    margin: 0 auto;
}

.table{
    border: 3px solid red;
    border-radius: 5px;
}

.table-header{
    background: #222222;
    font-size: 20px;
    height: 50px;
    align-items: center;
    display: flex;
    color: white;
    text-align: center;
}

.table-row{
    background: blue;
    display: flex;
    color: white;
    text-align: center;
    height: 30px;
    align-items: center;
}

.table-row div, .table-header div{
    flex: 1;
}

.graphics-and-form{
    display: flex;
}

label{
    font-style: italic;
    font-size: 1.2em;
    font-weight: bold;
}

input[type="radio"]:hover{
    box-shadow: 0 0 5px 5px blue;
}

.inner-label{
    font-weight: bold;
    font-size: 1.2em;
    margin: 2px;
}


