#content{
    width: 50%;
    margin: 0 auto;
}

header{
    background: #222;
    color: #fff;
    font-size: 20px;
    width: 100%;
    height: 50px;
    margin: -10px -10px 10px -10px;
    padding: 10px 20px;
}

#github{
    float: left;
    margin-top: 10px;
    margin-left: 20px;
}

#github a{
    color: #ffffff;
    text-decoration: none;
}

#github a:hover{
    font-size: 1.1em;
    text-decoration: underline;
}

#student-name{
    float: right;
    margin-right: 20px;
}

.axis-text{
    font-family: "Harlow Solid Italic", Serif,serif;
    font-size: 16px;
}

.graphics{
    float: left;
    margin: 10px;
}

.r-value-button{
    background: white;
    border: 2px solid red;
    border-radius: 4px;
    padding: 5px;
    width: 50px;
    margin: 5px 10px;
}

.r-value-selected-button{
    background: hotpink;
    border: 2px solid red;
    border-radius: 4px;
    padding: 5px;
    width: 50px;
    margin: 5px 10px;
}

.element-of-form{
    margin: 10px;
}

.control-button{
    background: darkblue;
    color: white;
    padding: 5px;
    font-size: 15px;
}

.data-form{
    text-align: center;
    float: left;
    margin-left: 20px;
}

.radio-row{
    width: 220px;
    margin: 0 auto;
    display: flex;
    text-align: center;
    justify-content: space-around;
}

.radio{
    margin: 3px;
}

.inner-label{
    width: 10px;
    display: inline-block;
}

.buttons-line{
    display: flex;
    justify-content: center;
}

#y-value{
    border: 3px solid blue;
    border-radius: 4px;
    padding: 3px;
}

#error-log{
    background: rgba(255, 0, 0, 0.8);
    color: white;
    font-size: 16px;
}
